//HERO - HEADINGS
@keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-80px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

//HERO - IMAGEM
  @keyframes move-bg {
    0% {
      transform: translate(-2px);
    }

    50% {
      transform: translate(-1px);
    }
  
    100% {
      transform: translate(0px);
    }
  }
  
  @keyframes move-front {
    0% {
      transform: translate(-30px);
    }
  
    100% {
      transform: translate(30px);
    }
  }

  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

//BUTTON ANIMATED - HOVER
@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

//BUTTON ANIMATED - ACTIVE
@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba($secondary-color-semi-dark, 0) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba($secondary-color-semi-dark, 0.3) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba($secondary-color-semi-dark, 0.5) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba($secondary-color-semi-dark, 0.8) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, rgba($secondary-color-semi-dark, 0.9) 99%, #fff 100%, #fff 100%);
  }
}


 /* Birdy - twitter
 * ----------------------------------------
 */

 @keyframes birdy{
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

 /* Arrow
 * ----------------------------------------
 */

 @keyframes arrow{
   0% {
     transform: translateX(-10px);
   }
  100% {
    transform: translateX(10px);
  }
 }

  /* Categories
 * ----------------------------------------
 */

 @keyframes products{
   0% {
     transform: scale(1);
   }
   

  100% {
    transform: scale(1.1);
  }
 }

  /* Arrow
 * ----------------------------------------
 */

 @keyframes menu{
  0% {
    transform: translateX(-1px);
  }
 100% {
   transform: translateX(1px);
 }
}

 
