.row{
    max-width: 1180px;
    margin: 0 auto;
    
    [class^="col-"] {
        float: left; 
    }

    [class^="col-"]:not(:last-child) {
        margin-right: 20px; 
    }
}

.row .col-1-of-1 {
    width: 100%;
}

.row .col-1-of-2 {
    width: calc((100% - 20px) / 2);
}