.mosaic{
  max-width:1180px;
  width:100%;
  margin:0 auto;
  font-size:0;
  background-color:$light-color;

  &__title{
    @include head-title;
    max-width: 768px;

    @include mq (0, 512px){
      margin-bottom:0;
    }
  }

  &__figures {
    display: block;
    width: 500px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    
    @include mq (0, 768px){
      width: 400px;
    }

    @include mq (0, 512px){
      display: none;
    }
  }

  &__content {
    .coll{
      font-size:12px;
      max-width:25%;
      width:100%;
      display:inline-block;
      vertical-align:top;
      height:100%;

      @include mq (0, 768px){
        max-width: 50%;
      }

      @include mq (0, 512px){
        max-width: 100%;
      }

      .square{
        height:295px;
        width:100%;
        color:$light-color;
        position: relative;
        cursor: pointer;

        &:hover .fit_image-big,
        &:hover .fit_image-small{
          transform: scale(1.1);
        }
        &:hover .blur{
          filter: blur(0px);
          -webkit-filter: blur(0px);
        }

        &:hover .label-new{
          background: rgba($light-color, 0.8);
          opacity: 0;
        }

        &:hover .label-new-detail{
          background: rgba($light-color, 0.8);
          bottom:0;
          opacity:1;
        }

        &:hover .label-sneek{
          opacity: 0;
        }
        
        .fit_image-big{
          width: 100%;
          height: 590px;
          object-fit: cover;
          transition: all .5s ease-in-out;
          -webkit-transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
        }

        .fit_image-small{
          width: 100%;
          height: 295px;
          object-fit: cover;
          transition: all .5s ease-in-out;
          -webkit-transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
        }

        .blur{
          filter: blur(8px);
          -webkit-filter: blur(8px);
          -moz-filter: blur(8px);
          -o-filter: blur(8px);
        }

        .label-sneek,
        .label-info, .label-new{
          @include grid-label;
          transition: all .5s ease-in-out;
          -webkit-transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          bottom:0;
          z-index: 0;

          &:before {
            @include grid-transparent;
          }
        }

          .label-new-detail{
            @include grid-label;
            bottom: -230px;
            z-index: 0;
            opacity:0;
  
            &:before {
              @include grid-transparent;
            }
  
              p{
                font-style: italic;
                font-weight:300;
                font-size:22px;
                color: $primary-color;

                @include mq (0, 512px){
                  font-size:16px;
                }
              }
            }
          
          .label-twitter {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .twit{
              &:before,
              &:after {
                content: '';
                display: inline-block;
                background-color: $light-color;
                width: 30px;
                height: 1px;
                vertical-align: text-top;

                @include mq (0, 512px){
                  width: 24px;
                }

                @include mq (0, 360px){
                  width: 14px;
                }
              }
            }

            p, a{
              font-style: italic;
              font-size:14px;
              text-transform: inherit;
              letter-spacing: 1px;
              margin-bottom:10px;
              font-family:$secondary-font;

              @include mq (0, 512px){
                font-size:12px;
              }
            }

            a{
              text-decoration: none;
              color:$light-color;

              &:hover {
                text-decoration: underline;
              }
            }
          }

        h1{
          font-size:26px;
          text-transform:uppercase;
          font-family:$primary-font;
          margin-bottom:10px;
          color: $tertiary-color;

          @include mq (0, 768px){
            font-size:22px;
          }

          @include mq (0, 512px){
            font-size:18px;
          }
        }

       

        h2{
          font-size:22px;
          text-transform:uppercase;
          font-family:$primary-font;
          margin-bottom:10px;
          color: $primary-color;

          @include mq (0, 768px){
            font-size:16px;
          }
        }

        i{
          font-size: 30px;
          margin-bottom: 10px;
          padding: 0 10px;

          @include mq (0, 512px){
            font-size:22px;
          }
        }

        &.big{
          height:590px;
          overflow: hidden;
        }

        &.sneek{
          overflow: hidden;
        }

        &.brick{
          @include background('../images/brick.png');
          background-color: $alternative-color;

          &:before {
            content: '';
            background-image: url(../images/broken2.png);
            width:295px;
            height: 295px;
            display: block;
            position: absolute;
            top:0;
            left:0;
            opacity: 0;
          }

          &:hover:before{
            opacity:1;
            transition: .5s ease-in-out;
            -webkit-transition: .5s ease-out;
            -moz-transition: .5s ease-out;
            -o-transition: .5s ease-out;
          }
        }

        &.arrow{
          background:$semi-dark-color;
          color:$light-color;
          overflow: hidden;

          i{
            color:$primary-color;
          }

          &:hover i {
            color:$head-color-dark;
            animation: arrow .8s infinite;
            animation-direction: alternate;
          }
        }

        &.twitter{
          @include background('../images/brick.png');
          background-color:$head-color-dark;
          color:$light-color;

          &:hover i {
            color:$secondary-color;
            animation: birdy 1s infinite;
            animation-direction: alternate;
          }
        }

        i {
          color: $light-color;
          -webkit-transition: color 2s ease-out;
          -moz-transition: color 2s ease-out;
          -o-transition: color 2s ease-out;
          transition: color 2s ease-out;
        }
      }
    }
  }
}
