//FONTES
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Niramit', sans-serif;

//CORES
$primary-color: #000;

$secondary-color: #ecba20;
$secondary-color-semi-dark: #af8a19;
$secondary-color-darker: #856813;
$secondary-color-dark: #cf631b;
$secondary-color-light: #f68236;

$head-color-dark: #28b485;
$head-color-light: #7ed56f;

$alternative-color: #3d99b5;

$tertiary-color: #f22613;

$light-color: #fff;

$semi-dark-color: #404040;
$semi-dark-color-2: #959595;
